*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Box-styling1 {
    width: 70%;
        /* border: 1px solid black; */
    /* height: 100px; */
    padding: 10px;
    margin-top: 10px;
    margin: auto;
}

.ul-Styling {
    display: flex;
    /* justify-content: space-evenly; */
}

.ul-Styling button:focus-visible {
    border: none;
}

.ul-Styling button:nth-child(1):hover {
    background-color: Green;
    color: rgb(255, 255, 255);
    transition-duration: .3s;
}

.ul-Styling button:nth-child(2):hover {
    background-color: red;
    color: white;
    transition-duration: .3s;
}

.ul-Styling button {
    font-size: 14px;
    margin: 2px;
}

.ul-Styling>* {
    font-size: 18px;
}

.ul-Styling-card li::marker {
    content: '';
}

.ul-Styling-card li:first-child {
    text-align: center;

}
.ul-Styling>* {
    text-align: center;
    width: 100%;
    border: 1px solid black;
}