.Router-li ul {
    padding: 10px;
    background: rgb(135, 135, 196);
}

.Router-li li {
    display: inline-block;
    margin-inline: 8px;
}

    
.ul-Styling li {
        display: inline-block;
        margin-inline: 3px;
        margin-top: 2px;
}

li a {
    text-decoration: none;
    color: rgb(51, 42, 42);
    font-size: 17px;
}